<h1>New Car</h1>
<%= link_to 'Back', cars_path %>

<div style="margin-left: 200px; margin-right: 200px;">  
  <%= form_for @car do |f| %>
    <div style="margin-bottom: 10px;">
      <p style="margin-bottom: 5px;">NumberPlate</p>
      <%= f.text_field :numberplate %>
    </div>
    <%= link_to 'Add Model', new_model_path%> 
    <br/> 
    <%= f.select(:brand_id, Brand.all.collect {|u| [u.car_brand, u.id]}, :prompt => 'Select') %>
    <div style="margin-top: 20px;">
      <%= f.submit "Add Car" %>   
    </div>
  <% end %>
</div>


